{% set postgres = salt['grains.filter_by']({
    'Debian': {
        'pkg': 'postgresql-9.1',
        'client_dev_pkg': 'libpq-dev',
        'server_dev_pkg': 'postgresql-server-dev-9.1',
        'python_dev_pkg': 'python-dev',
        'python': 'python-psycopg2',
        'service': 'postgresql',
        'pg_hba': '/etc/postgresql/9.1/main/pg_hba.conf',
    },
    'RedHat': {
        'pkg': 'postgresql',
        'python': 'postgresql-python',
        'service': 'postgresql',
    },
    'Arch': {
        'pkg': 'postgresql',
        'python': 'python-psycopg2',
        'service': 'postgresql',
    },
}, merge=salt['pillar.get']('postgres:lookup')) %}
